h1 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 400;
}


img {
    width: 300px;
    border-radius: 10% 10% 10% 10%;
} 


a {
    text-decoration: none;
    background: hsl(130, 100%, 50%);
    color: rgb(0, 0, 0);
}